* {
    font-family: "Dancing Script", cursive;
    font-family: "Libre Baskerville", serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.2s linear;
    text-transform: capitalize;
}

*::selection {
    background: blue;
    color: white;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: transparent;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 1.6rem;
    font-weight: bolder;
    color: rgb(5, 5, 5);
    text-decoration: none;
}

header .navbar a {
    color: rgb(5, 5, 5);
    font-size: 1.7rem;
    margin-left: 1rem;
    text-decoration: none;
}

#menu-bar {
    font-size: 1.5rem;
    color: white;
    border-radius: 0.5rem;
    border: 0.1rem solid white;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    display: none;
}

.btn-header {
    display: inline-block;
    margin-top: 1rem;
    border: 0.1rem solid black;
    color: black;
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background: none;
}

.btn-header:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: rgb(3, 3, 3);
    transition: 0.5s;
}

#profile img {
    width: 100px;
    height: 100px;
}

.profile-h2 {
    text-align: center;
    margin: 30px;
}

.container-profile {
    align-items: center;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(images/home-bg.jpg) no-repeat; */
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
    background: white;
    padding: 4.7rem 2rem;
    text-align: center;
    background-size: cover;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
}

.img-div img {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.img-div {
    display: flex;
    align-items: left;
}

.basic-info {
    background-color: rgb(218, 204, 218);
    text-align: center;
}

.info table tr td {
    padding: 4px 30px;

    /* border: 1px solid rgb(206, 169, 169); */
}
.q {
    font-weight: bolder;
}

.info {
    text-align: left;
    align-items: center;
    justify-content: center;
}

/* Media Qureies */

@media (max-width: 768px) {
    #menu-bar {
        display: block;
        color: #000;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: transparent;
        padding: 1rem 0;
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
    }

    header .navbar.nav-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        display: block;
        background: white;
        border-radius: 0.5rem;
        color: var(--black);
        margin: 1rem 0;
        padding: 0.6rem 1rem;
        font-size: 1.3rem;
    }
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}

.footer {
    background-color: rgb(218, 204, 218);
    padding: 70px 0;
    padding: 2.5rem 1.5rem;
    text-align: center;
}
.footer-logo {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.logo-p {
    font-size: 0.9rem;
    color: rgb(16, 5, 58);
}

.logo-p-2 {
    font-size: 0.7rem;
    color: rgb(16, 5, 58);
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
}

.footer-col h4 {
    font-size: 12px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: bolder;
}

.footer-col ul li {
    margin-bottom: 10px;
    display: block;
}

.footer-col ul li a {
    font-size: 10px;
    text-transform: capitalize;
    color: rgb(16, 5, 58);
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 15px;
}

.social-links a {
    font-size: 16px;
    margin: 7px;
    color: rgb(16, 5, 58);
}
